.backpack_tab {
    display: none;
}

/* all boxes with the same property */
.backpack_money, .backpack_money_bottom td, .backpack_item_tab, .backpack_item_description {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.15); 
}

/* Money table */
.backpack_money {
    display:none;
    border-spacing: 10px 0px;
    
    width: 100%;
    padding: 5px;
    
    text-align: center;
    
    border-radius: 10px;
}
/* Type of the coin */
.backpack_money_top td {
    margin: 10px;
    padding: 0px 20px;

    font-size: 12px;
}
/* Value of each coin */
.backpack_money_bottom td {
    margin: 10px;
    padding: 5px 20px;

    font-weight: bold;

    border-radius: 0px 0px 5px 5px;
}

/* Item tabs */
.backpack_item_tab {
    display: none;

    padding: 10px 15px;

    text-align: justify;

    border-radius: 10px;
}
/* Item description */
.backpack_item_description {
    display: none;

    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;

    text-align: justify;

    border-radius: 5px;
}
/* Item description for p */
p.backpack_item_description {
    display: none;

    padding-left: 10px;

    font-style: italic;
}